<script src="/static/scripts/GetDatalistId.js"></script>
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12 FormPanelTitle HAlignCentre">
                <h1 class="FormHeader">Player Analysis Form</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 FormPanel">
                <form name="AnalysisForm" id="AnalysisForm" action="/results" method="POST">
                    {% include 'csrfTokenField.html' %}
                    <input type="hidden" id="player_id" name="player_id" />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="FormLabel" for="player_name">Player Name:</label>
                        </div>
                        <div class="col-md-3">
                            <label class="FormLabel" for="disposal_line">Disposal Line:</label>
                        </div>
                        <div class="col-md-3">
                            <label class="FormLabel" for="goal_line">Goal Line:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="FormPanelTextBox" type="text" id="player_name" name="player_name" list="player_names" oninput="$.GetDatalistId($(this), $('#player_id'))" required placeholder="Type or select the player you want to search"/>
                        </div>
                        <div class="col-md-3">
                            <select class="FormPanelSelect" id="disposal_line" name="disposal_line" required>
                                <option value="0.5">0.5</option>
                                <option value="1.5">1.5</option>
                                <option value="2.5">2.5</option>
                                <option value="3.5">3.5</option>
                                <option value="4.5">4.5</option>
                                <option value="5.5">5.5</option>
                                <option value="6.5">6.5</option>
                                <option value="7.5">7.5</option>
                                <option value="8.5">8.5</option>
                                <option value="9.5">9.5</option>
                                <option value="10.5">10.5</option>
                                <option value="11.5">11.5</option>
                                <option value="12.5">12.5</option>
                                <option value="13.5">13.5</option>
                                <option value="14.5">14.5</option>
                                <option value="15.5">15.5</option>
                                <option value="16.5">16.5</option>
                                <option value="17.5">17.5</option>
                                <option value="18.5">18.5</option>
                                <option value="19.5">19.5</option>
                                <option value="20.5">20.5</option>
                                <option value="21.5">21.5</option>
                                <option value="22.5">22.5</option>
                                <option value="23.5">23.5</option>
                                <option value="24.5"selected >24.5</option>
                                <option value="25.5">25.5</option>
                                <option value="26.5">26.5</option>
                                <option value="27.5">27.5</option>
                                <option value="28.5">28.5</option>
                                <option value="29.5">29.5</option>
                                <option value="30.5">30.5</option>
                                <option value="31.5">31.5</option>
                                <option value="32.5">32.5</option>
                                <option value="33.5">33.5</option>
                                <option value="34.5">34.5</option>
                                <option value="35.5">35.5</option>
                                <option value="36.5">36.5</option>
                                <option value="37.5">37.5</option>
                                <option value="38.5">38.5</option>
                                <option value="39.5">39.5</option>
                                <option value="40.5">40.5</option>
                                <option value="41.5">41.5</option>
                                <option value="42.5">42.5</option>
                                <option value="43.5">43.5</option>
                                <option value="44.5">44.5</option>
                                <option value="45.5">45.5</option>
                                <option value="46.5">46.5</option>
                                <option value="47.5">47.5</option>
                                <option value="48.5">48.5</option>
                                <option value="49.5">49.5</option>
                                <option value="50.5">50.5</option>
                                <option value="51.5">51.5</option>
                                <option value="52.5">52.5</option>
                                <option value="53.5">53.5</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="FormPanelSelect" id="goal_line" name="goal_line" required>
                                <option value="0.5" selected >0.5</option>
                                <option value="1.5">1.5</option>
                                <option value="2.5">2.5</option>
                                <option value="3.5">3.5</option>
                                <option value="4.5">4.5</option>
                                <option value="5.5">5.5</option>
                                <option value="6.5">6.5</option>
                                <option value="7.5">7.5</option>
                                <option value="8.5">8.5</option>
                                <option value="9.5">9.5</option>
                            </select><br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="FormLabel" for="opposition">Opposition:</label>
                        </div>
                        <div class="col-md-3">
                            <label class="FormLabel" for="season">Games since Season:</label>
                        </div>
                    </div>
                    <div class="row FormControlRow">
                        <div class="col-md-6">
                            <select class="FormPanelSelect" id="opposition" name="opposition" required>
                                <option value="Adelaide">Adelaide Crows</option>
                                <option value="Brisbane" selected >Brisbane Lions</option>
                                <option value="Carlton">Carlton Blues</option>
                                <option value="Collingwood">Collingwood Magpies</option>
                                <option value="Essendon">Essendon Bombers</option>
                                <option value="Fremantle">Fremantle Dockers</option>
                                <option value="Geelong">Geelong Cats</option>
                                <option value="Gold Coast">Gold Coast Suns</option>
                                <option value="Greater Western Sydney">Greater Western Sydney Giants</option>
                                <option value="Hawthorn">Hawthorn Hawks</option>
                                <option value="Melbourne">Melbourne Demons</option>
                                <option value="North Melbourne">North Melbourne Kangaroos</option>
                                <option value="Port Adelaide">Port Adelaide Power</option>
                                <option value="Richmond">Richmond Tigers</option>
                                <option value="St Kilda">St Kilda Saints</option>
                                <option value="Sydney">Sydney Swans</option>
                                <option value="West Coast">West Coast Eagles</option>
                                <option value="Western">Western Bulldogs</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input class="FormPanelTextBox" type="text" list="seasons" id="season" name="season" required placeholder="Selected the season you want to start the search from until now"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="FormLabel" for="venue">Venue:</label>
                        </div>
                        <div class="col-md-6">
                            <label class="FormLabel" for="location">Location:</label>
                        </div>
                    </div>
                    <div class="row FormControlRow">
                        <div class="col-md-6">
                            <input class="FormPanelTextBox" type="text" list="venues" id="venue" name="venue" required placeholder="Select the stadium you want to search" />
                        </div>
                        <div class="col-md-6">
                            <select class="FormPanelSelect" id="location" name="location" required>
                                <option value="home">Home</option>
                                <option value="away">Away</option>
                            </select><br><br>
                        </div>
                    </div>
                    <div class="row FormControlRow">
                        <div class="col-md-12">
                            <button class="FormPanelSubmit" id="btnSubmit" onclick="SubmitForm(this, AnalysisForm)">Submit &raquo;</button>
                        </div>
                    </div>
                </form>
                {% include 'SubmitForm.html' %}
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<datalist id="seasons">
    <option value="2024">2024</option>
    <option value="2023">2023</option>
    <option value="2022">2022</option>
    <option value="2021">2021</option>
    <option value="2020">2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <option value="2014">2014</option>
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="2010">2010</option>
    <option value="2009">2009</option>
    <option value="2008">2008</option>
    <option value="2007">2007</option>
    <option value="2006">2006</option>
</datalist>

<datalist id="venues">
    <option value="M.C.G.">M.C.G.</option>
    <option value="Docklands">Marvel</option>
    <option value="Adelaide Oval">Adelaide Oval</option>
    <option value="Gabba">The Gabba</option>
    <option value="Subiaco">Subiaco Oval</option>
    <option value="Carrara">Metricon Stadium</option>
    <option value="Perth Stadium">Optus Stadium</option>
    <option value="S.C.G.">S.C.G.</option>
    <option value="Kardinia Park">GMHBA Stadium</option>
    <option value="Sydney Showground">Spotless Stadium</option>
    <option value="Football Park">AAMI Stadium</option>
    <option value="York Park">UTas Stadium</option>
    <option value="Bellerive Oval">Blundstone Arena</option>
    <option value="Manuka Oval">Manuka Oval</option>
    <option value="Stadium Australia">ANZ Stadium</option>
    <option value="Marrara Oval">Marrara Oval</option>
    <option value="Cazaly's Stadium">Cazaly's Stadium</option>
    <option value="Eureka Stadium">Mars Stadium</option>
    <option value="Traeger Park">Traeger park</option>
    <option value="Jiangwan Stadium">Jiangwan Stadium</option>
    <option value="Wellington">Wellington</option>
    <option value="Norwood Oval">Norwood Oval</option>
    <option value="Summit Sports Park">Summit Sports Park</option>
    <option value="Riverway Stadium">Riverway Stadium</option>
    <option value="Blacktown">Blacktown</option>
</datalist>

<datalist id="player_names">
    {% include 'PlayerListOption.html' %}
</datalist>
