<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12 FormPanelTitle HAlignCentre">
                <h1 class="FormHeader">Player Analysis Form</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 FormPanel">
                <form name="AnalysisForm" id="AnalysisForm" action="/results" method="POST">
                    {% include 'csrfTokenField.html' %}
                    <div class="row">
                        <div class="col-md-6">
                            <label class="FormLabel" for="player_name">Player Name:</label>
                        </div>
                        <div class="col-md-2">
                            <label class="FormLabel" for="disposal_line">Disposal Line:</label>
                        </div>
                        <div class="col-md-2">
                            <label class="FormLabel" for="goal_line">Goal Line:</label>
                        </div>
                        <div class="col-md-2">
                            <label class="FormLabel" for="location">Location:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="FormPanelTextBox" type="text" id="player_name" name="player_name" list="player_names" required />
                        </div>
                        <div class="col-md-2">
                            <select class="FormPanelSelect" id="disposal_line" name="disposal_line" required>
                                <option value="0.5">0.5</option>
                                <option value="1.5">1.5</option>
                                <option value="2.5">2.5</option>
                                <option value="3.5">3.5</option>
                                <option value="4.5">4.5</option>
                                <option value="5.5">5.5</option>
                                <option value="6.5">6.5</option>
                                <option value="7.5">7.5</option>
                                <option value="8.5">8.5</option>
                                <option value="9.5">9.5</option>
                                <option value="10.5">10.5</option>
                                <option value="11.5">11.5</option>
                                <option value="12.5">12.5</option>
                                <option value="13.5">13.5</option>
                                <option value="14.5" selected>14.5</option>
                                <option value="15.5">15.5</option>
                                <option value="16.5">16.5</option>
                                <option value="17.5">17.5</option>
                                <option value="18.5">18.5</option>
                                <option value="19.5">19.5</option>
                                <option value="20.5">20.5</option>
                                <option value="21.5">21.5</option>
                                <option value="22.5">22.5</option>
                                <option value="23.5">23.5</option>
                                <option value="24.5">24.5</option>
                                <option value="25.5">25.5</option>
                                <option value="26.5">26.5</option>
                                <option value="27.5">27.5</option>
                                <option value="28.5">28.5</option>
                                <option value="29.5">29.5</option>
                                <option value="30.5">30.5</option>
                                <option value="31.5">31.5</option>
                                <option value="32.5">32.5</option>
                                <option value="33.5">33.5</option>
                                <option value="34.5">34.5</option>
                                <option value="35.5">35.5</option>
                                <option value="36.5">36.5</option>
                                <option value="37.5">37.5</option>
                                <option value="38.5">38.5</option>
                                <option value="39.5">39.5</option>
                                <option value="40.5">40.5</option>
                                <option value="41.5">41.5</option>
                                <option value="42.5">42.5</option>
                                <option value="43.5">43.5</option>
                                <option value="44.5">44.5</option>
                                <option value="45.5">45.5</option>
                                <option value="46.5">46.5</option>
                                <option value="47.5">47.5</option>
                                <option value="48.5">48.5</option>
                                <option value="49.5">49.5</option>
                                <option value="50.5">50.5</option>
                                <option value="51.5">51.5</option>
                                <option value="52.5">52.5</option>
                                <option value="53.5">53.5</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="FormPanelSelect" id="goal_line" name="goal_line" required>
                                <option value="0.5">0.5</option>
                                <option value="1.5" selected>1.5</option>
                                <option value="2.5">2.5</option>
                                <option value="3.5">3.5</option>
                                <option value="4.5">4.5</option>
                                <option value="5.5">5.5</option>
                                <option value="6.5">6.5</option>
                                <option value="7.5">7.5</option>
                                <option value="8.5">8.5</option>
                                <option value="9.5">9.5</option>
                            </select><br><br>
                        </div>
                        <div class="col-md-2">
                            <select class="FormPanelSelect" id="location" name="location" required>
                                <option value="home">Home</option>
                                <option value="away">Away</option>
                            </select><br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="FormLabel" for="opposition">Opposition:</label>
                        </div>
                        <div class="col-md-3">
                            <label class="FormLabel" for="venue">Venue:</label>
                        </div>
                        <div class="col-md-3">
                            <label class="FormLabel" for="season">Games since Season:</label>
                        </div>
                    </div>
                    <div class="row FormControlRow">
                        <div class="col-md-6">
                            <select class="FormPanelSelect" id="opposition" name="opposition" required>
                                <option value="Adelaide">Adelaide Crows</option>
                                <option value="Brisbane">Brisbane Lions</option>
                                <option value="Carlton">Carlton Blues</option>
                                <option value="Collingwood">Collingwood Magpies</option>
                                <option value="Essendon">Essendon Bombers</option>
                                <option value="Fremantle">Fremantle Dockers</option>
                                <option value="Geelong">Geelong Cats</option>
                                <option value="Gold Coast">Gold Coast Suns</option>
                                <option value="Greater Western Sydney">Greater Western Sydney Giants</option>
                                <option value="Hawthorn">Hawthorn Hawks</option>
                                <option value="Melbourne">Melbourne Demons</option>
                                <option value="North Melbourne">North Melbourne Kangaroos</option>
                                <option value="Port Adelaide">Port Adelaide Power</option>
                                <option value="Richmond">Richmond Tigers</option>
                                <option value="St Kilda">St Kilda Saints</option>
                                <option value="Sydney">Sydney Swans</option>
                                <option value="West Coast">West Coast Eagles</option>
                                <option value="Western">Western Bulldogs</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input class="FormPanelTextBox" type="text" list="venues" id="venue" name="venue" required placeholder="MCG" />
                        </div>
                        <div class="col-md-3">
                            <input class="FormPanelTextBox" type="text" list="seasons" id="season" name="season" required />
                        </div>
                    </div>
                    <div class="row FormControlRow">
                        <div class="col-md-12">
                            <button class="FormPanelSubmit" id="btnSubmit" onclick="SubmitForm(this, AnalysisForm)">Submit &raquo;</button>
                        </div>
                    </div>
                </form>
                {% include 'SubmitForm.html' %}
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

        <datalist id="seasons">
            <option value="2024">2024</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2008">2008</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
        </datalist>

        <datalist id="venues">
            <option value="M.C.G.">M.C.G.</option>
            <option value="Docklands">Marvel</option>
            <option value="Adelaide Oval">Adelaide Oval</option>
            <option value="Gabba">The Gabba</option>
            <option value="Subiaco">Subiaco Oval</option>
            <option value="Carrara">Metricon Stadium</option>
            <option value="Perth Stadium">Optus Stadium</option>
            <option value="S.C.G.">S.C.G.</option>
            <option value="Kardinia Park">GMHBA Stadium</option>
            <option value="Sydney Showground">Spotless Stadium</option>
            <option value="Football Park">AAMI Stadium</option>
            <option value="York Park">UTas Stadium</option>
            <option value="Bellerive Oval">Blundstone Arena</option>
            <option value="Manuka Oval">Manuka Oval</option>
            <option value="Stadium Australia">ANZ Stadium</option>
            <option value="Marrara Oval">Marrara Oval</option>
            <option value="Cazaly's Stadium">Cazaly's Stadium</option>
            <option value="Eureka Stadium">Mars Stadium</option>
            <option value="Traeger Park">Traeger park</option>
            <option value="Jiangwan Stadium">Jiangwan Stadium</option>
            <option value="Wellington">Wellington</option>
            <option value="Norwood Oval">Norwood Oval</option>
            <option value="Summit Sports Park">Summit Sports Park</option>
            <option value="Riverway Stadium">Riverway Stadium</option>
            <option value="Blacktown">Blacktown</option>
        </datalist>

        <datalist id="player_names">
            <option value="Sam Berry (Adelaide)"> </option>
            <option value="James Borlase (Adelaide)"> </option>
            <option value="Tyler Brown (Adelaide)"> </option>
            <option value="Jordon Butts (Adelaide)"> </option>
            <option value="Brayden Cook (Adelaide)"> </option>
            <option value="Matt Crouch (Adelaide)"> </option>
            <option value="Jordan Dawson (Adelaide)"> </option>
            <option value="Tom Doedee (Adelaide)"> </option>
            <option value="Darcy Fogarty (Adelaide)"> </option>
            <option value="Lachlan Gollant (Adelaide)"> </option>
            <option value="Jackson Hately (Adelaide)"> </option>
            <option value="Elliott Himmelberg (Adelaide)"> </option>
            <option value="Mitch Hinge (Adelaide)"> </option>
            <option value="Chayce Jones (Adelaide)"> </option>
            <option value="Mark Keane (Adelaide)"> </option>
            <option value="Ben Keays (Adelaide)"> </option>
            <option value="Rory Laird (Adelaide)"> </option>
            <option value="Shane McAdam (Adelaide)"> </option>
            <option value="Ned McHenry (Adelaide)"> </option>
            <option value="Max Michalanney (Adelaide)"> </option>
            <option value="Wayne Milera (Adelaide)"> </option>
            <option value="Lachlan Murphy (Adelaide)"> </option>
            <option value="Nick Murray (Adelaide)"> </option>
            <option value="Luke Nankervis (Adelaide)"> </option>
            <option value="Reilly OBrien (Adelaide)"> </option>
            <option value="Patrick Parnell (Adelaide)"> </option>
            <option value="Luke Pedlar (Adelaide)"> </option>
            <option value="Josh Rachele (Adelaide)"> </option>
            <option value="Izak Rankine (Adelaide)"> </option>
            <option value="Harry Schoenberg (Adelaide)"> </option>
            <option value="Lachlan Sholl (Adelaide)"> </option>
            <option value="Rory Sloane (Adelaide)"> </option>
            <option value="Brodie Smith (Adelaide)"> </option>
            <option value="Jake Soligo (Adelaide)"> </option>
            <option value="Riley Thilthorpe (Adelaide)"> </option>
            <option value="Taylor Walker (Adelaide)"> </option>
            <option value="Josh Worrell (Adelaide)"> </option>
            <option value="Callum Ah Chee (Brisbane)"> </option>
            <option value="Harris Andrews (Brisbane)"> </option>
            <option value="Noah Answerth (Brisbane)"> </option>
            <option value="Will Ashcroft (Brisbane)"> </option>
            <option value="Zac Bailey (Brisbane)"> </option>
            <option value="Jarrod Berry (Brisbane)"> </option>
            <option value="Charlie Cameron (Brisbane)"> </option>
            <option value="Keidean Coleman (Brisbane)"> </option>
            <option value="Joe Daniher (Brisbane)"> </option>
            <option value="Josh Dunkley (Brisbane)"> </option>
            <option value="Jaspa Fletcher (Brisbane)"> </option>
            <option value="Darcy Fort (Brisbane)"> </option>
            <option value="Darcy Gardiner (Brisbane)"> </option>
            <option value="Jack Gunston (Brisbane)"> </option>
            <option value="Eric Hipwood (Brisbane)"> </option>
            <option value="Darragh Joyce (Brisbane)"> </option>
            <option value="Ryan Lester (Brisbane)"> </option>
            <option value="Kai Lohmann (Brisbane)"> </option>
            <option value="Jarryd Lyons (Brisbane)"> </option>
            <option value="James Madden (Brisbane)"> </option>
            <option value="Lincoln McCarthy (Brisbane)"> </option>
            <option value="Hugh McCluggage (Brisbane)"> </option>
            <option value="Oscar McInerney (Brisbane)"> </option>
            <option value="Conor McKenna (Brisbane)"> </option>
            <option value="Lachie Neale (Brisbane)"> </option>
            <option value="Jack Payne (Brisbane)"> </option>
            <option value="Jaxon Prior (Brisbane)"> </option>
            <option value="Cam Rayner (Brisbane)"> </option>
            <option value="Daniel Rich (Brisbane)"> </option>
            <option value="Deven Robertson (Brisbane)"> </option>
            <option value="Harry Sharp (Brisbane)"> </option>
            <option value="Brandon Starcevich (Brisbane)"> </option>
            <option value="James Tunstill (Brisbane)"> </option>
            <option value="Darcy Wilmot (Brisbane)"> </option>
            <option value="Dayne Zorko (Brisbane)"> </option>
            <option value="Blake Acres (Carlton)"> </option>
            <option value="Jordan Boyd (Carlton)"> </option>
            <option value="Jack Carroll (Carlton)"> </option>
            <option value="Adam Cerra (Carlton)"> </option>
            <option value="Alex Cincotta (Carlton)"> </option>
            <option value="Matthew Cottrell (Carlton)"> </option>
            <option value="Lachlan Cowan (Carlton)"> </option>
            <option value="Patrick Cripps (Carlton)"> </option>
            <option value="David Cuningham (Carlton)"> </option>
            <option value="Charlie Curnow (Carlton)"> </option>
            <option value="Ed Curnow (Carlton)"> </option>
            <option value="Tom De Koning (Carlton)"> </option>
            <option value="Sam Docherty (Carlton)"> </option>
            <option value="Paddy Dow (Carlton)"> </option>
            <option value="Corey Durdin (Carlton)"> </option>
            <option value="Zac Fisher (Carlton)"> </option>
            <option value="Lachie Fogarty (Carlton)"> </option>
            <option value="George Hewett (Carlton)"> </option>
            <option value="Oliver Hollands (Carlton)"> </option>
            <option value="Josh Honey (Carlton)"> </option>
            <option value="Brodie Kemp (Carlton)"> </option>
            <option value="Matthew Kennedy (Carlton)"> </option>
            <option value="Caleb Marchbank (Carlton)"> </option>
            <option value="Jack Martin (Carlton)"> </option>
            <option value="Mitch McGovern (Carlton)"> </option>
            <option value="Harry McKay (Carlton)"> </option>
            <option value="Jesse Motlop (Carlton)"> </option>
            <option value="Nic Newman (Carlton)"> </option>
            <option value="Lochie OBrien (Carlton)"> </option>
            <option value="Matthew Owies (Carlton)"> </option>
            <option value="Marc Pittonet (Carlton)"> </option>
            <option value="Lachie Plowman (Carlton)"> </option>
            <option value="Adam Saad (Carlton)"> </option>
            <option value="Jack Silvagni (Carlton)"> </option>
            <option value="Sam Walsh (Carlton)"> </option>
            <option value="Jacob Weitering (Carlton)"> </option>
            <option value="Lewis Young (Carlton)"> </option>
            <option value="Taylor Adams (Collingwood)"> </option>
            <option value="Trent Bianco (Collingwood)"> </option>
            <option value="Darcy Cameron (Collingwood)"> </option>
            <option value="Josh Carmichael (Collingwood)"> </option>
            <option value="Mason Cox (Collingwood)"> </option>
            <option value="Jack Crisp (Collingwood)"> </option>
            <option value="Josh Daicos (Collingwood)"> </option>
            <option value="Nick Daicos (Collingwood)"> </option>
            <option value="Jordan de Goey (Collingwood)"> </option>
            <option value="Jamie Elliott (Collingwood)"> </option>
            <option value="Billy Frampton (Collingwood)"> </option>
            <option value="Jack Ginnivan (Collingwood)"> </option>
            <option value="Harvey Harrison (Collingwood)"> </option>
            <option value="Bobby Hill (Collingwood)"> </option>
            <option value="Will Hoskin-Elliott (Collingwood)"> </option>
            <option value="Jeremy Howe (Collingwood)"> </option>
            <option value="Ash Johnson (Collingwood)"> </option>
            <option value="Will Kelly (Collingwood)"> </option>
            <option value="Nathan Kreuger (Collingwood)"> </option>
            <option value="Patrick Lipinski (Collingwood)"> </option>
            <option value="Finlay Macrae (Collingwood)"> </option>
            <option value="Oleg Markov (Collingwood)"> </option>
            <option value="Brayden Maynard (Collingwood)"> </option>
            <option value="Beau McCreery (Collingwood)"> </option>
            <option value="Reef McInnes (Collingwood)"> </option>
            <option value="Daniel McStay (Collingwood)"> </option>
            <option value="Brody Mihocek (Collingwood)"> </option>
            <option value="Tom Mitchell (Collingwood)"> </option>
            <option value="Darcy Moore (Collingwood)"> </option>
            <option value="Nathan Murphy (Collingwood)"> </option>
            <option value="John Noble (Collingwood)"> </option>
            <option value="Scott Pendlebury (Collingwood)"> </option>
            <option value="Isaac Quaynor (Collingwood)"> </option>
            <option value="Trey Ruscoe (Collingwood)"> </option>
            <option value="Jakob Ryan (Collingwood)"> </option>
            <option value="Steele Sidebottom (Collingwood)"> </option>
            <option value="Tom Wilson (Collingwood)"> </option>
            <option value="Kaine Baldwin (Essendon)"> </option>
            <option value="Nick Bryan (Essendon)"> </option>
            <option value="Jye Caldwell (Essendon)"> </option>
            <option value="Nik Cox (Essendon)"> </option>
            <option value="Massimo DAmbrosio (Essendon)"> </option>
            <option value="Alwyn Davey (Essendon)"> </option>
            <option value="Sam Draper (Essendon)"> </option>
            <option value="Sam Durham (Essendon)"> </option>
            <option value="Matt Guelfi (Essendon)"> </option>
            <option value="Dyson Heppell (Essendon)"> </option>
            <option value="Nick Hind (Essendon)"> </option>
            <option value="Ben Hobbs (Essendon)"> </option>
            <option value="Harry Jones (Essendon)"> </option>
            <option value="Jake Kelly (Essendon)"> </option>
            <option value="Kyle Langford (Essendon)"> </option>
            <option value="Jayden Laverde (Essendon)"> </option>
            <option value="Nic Martin (Essendon)"> </option>
            <option value="Anthony McDonald-Tipungwuti (Essendon)"> </option>
            <option value="Andrew McGrath (Essendon)"> </option>
            <option value="Jye Menzie (Essendon)"> </option>
            <option value="Zach Merrett (Essendon)"> </option>
            <option value="Darcy Parish (Essendon)"> </option>
            <option value="Archie Perkins (Essendon)"> </option>
            <option value="Andrew Phillips (Essendon)"> </option>
            <option value="Mason Redman (Essendon)"> </option>
            <option value="Jordan Ridley (Essendon)"> </option>
            <option value="Will Setterfield (Essendon)"> </option>
            <option value="Dylan Shiel (Essendon)"> </option>
            <option value="Will Snelling (Essendon)"> </option>
            <option value="Jake Stringer (Essendon)"> </option>
            <option value="Elijah Tsatas (Essendon)"> </option>
            <option value="Sam Weideman (Essendon)"> </option>
            <option value="Peter Wright (Essendon)"> </option>
            <option value="Brandon Zerk-Thatcher (Essendon)"> </option>
            <option value="James Aish (Fremantle)"> </option>
            <option value="Jye Amiss (Fremantle)"> </option>
            <option value="Bailey Banfield (Fremantle)"> </option>
            <option value="Andrew Brayshaw (Fremantle)"> </option>
            <option value="Will Brodie (Fremantle)"> </option>
            <option value="Heath Chapman (Fremantle)"> </option>
            <option value="Jordan Clark (Fremantle)"> </option>
            <option value="Josh Corbett (Fremantle)"> </option>
            <option value="Brennan Cox (Fremantle)"> </option>
            <option value="Sean Darcy (Fremantle)"> </option>
            <option value="Tom Emmett (Fremantle)"> </option>
            <option value="Neil Erasmus (Fremantle)"> </option>
            <option value="Michael Frederick (Fremantle)"> </option>
            <option value="Nat Fyfe (Fremantle)"> </option>
            <option value="Joel Hamling (Fremantle)"> </option>
            <option value="Liam Henry (Fremantle)"> </option>
            <option value="Ethan Hughes (Fremantle)"> </option>
            <option value="Luke Jackson (Fremantle)"> </option>
            <option value="Matthew Johnson (Fremantle)"> </option>
            <option value="Nathan ODriscoll (Fremantle)"> </option>
            <option value="Jaeger OMeara (Fremantle)"> </option>
            <option value="Alex Pearce (Fremantle)"> </option>
            <option value="Luke Ryan (Fremantle)"> </option>
            <option value="Lachie Schultz (Fremantle)"> </option>
            <option value="Caleb Serong (Fremantle)"> </option>
            <option value="Ethan Stanley (Fremantle)"> </option>
            <option value="Sam Sturt (Fremantle)"> </option>
            <option value="Sam Switkowski (Fremantle)"> </option>
            <option value="Matthew Taberner (Fremantle)"> </option>
            <option value="Josh Treacy (Fremantle)"> </option>
            <option value="Corey Wagner (Fremantle)"> </option>
            <option value="Brandon Walker (Fremantle)"> </option>
            <option value="Michael Walters (Fremantle)"> </option>
            <option value="Nathan Wilson (Fremantle)"> </option>
            <option value="Karl Worner (Fremantle)"> </option>
            <option value="Hayden Young (Fremantle)"> </option>
            <option value="Tom Atkins (Geelong)"> </option>
            <option value="Jed Bews (Geelong)"> </option>
            <option value="Mark Blicavs (Geelong)"> </option>
            <option value="Jack Bowes (Geelong)"> </option>
            <option value="Tanner Bruhn (Geelong)"> </option>
            <option value="Jeremy Cameron (Geelong)"> </option>
            <option value="Jonathon Ceglar (Geelong)"> </option>
            <option value="Jhye Clark (Geelong)"> </option>
            <option value="Ted Clohesy (Geelong)"> </option>
            <option value="Brad Close (Geelong)"> </option>
            <option value="Toby Conway (Geelong)"> </option>
            <option value="Patrick Dangerfield (Geelong)"> </option>
            <option value="Sam De Koning (Geelong)"> </option>
            <option value="Oliver Dempsey (Geelong)"> </option>
            <option value="Mitch Duncan (Geelong)"> </option>
            <option value="Cameron Guthrie (Geelong)"> </option>
            <option value="Zach Guthrie (Geelong)"> </option>
            <option value="Tom Hawkins (Geelong)"> </option>
            <option value="Jack Henry (Geelong)"> </option>
            <option value="Oliver Henry (Geelong)"> </option>
            <option value="Max Holmes (Geelong)"> </option>
            <option value="Mitch Knevitt (Geelong)"> </option>
            <option value="Jake Kolodjashnij (Geelong)"> </option>
            <option value="Sam Menegola (Geelong)"> </option>
            <option value="Gryan Miers (Geelong)"> </option>
            <option value="Oisin Mullin (Geelong)"> </option>
            <option value="Shannon Neale (Geelong)"> </option>
            <option value="Mark OConnor (Geelong)"> </option>
            <option value="Brandan Parfitt (Geelong)"> </option>
            <option value="Esava Ratugolea (Geelong)"> </option>
            <option value="Gary Rohan (Geelong)"> </option>
            <option value="Sam Simpson (Geelong)"> </option>
            <option value="Isaac Smith (Geelong)"> </option>
            <option value="Rhys Stanley (Geelong)"> </option>
            <option value="Tyson Stengle (Geelong)"> </option>
            <option value="Tom Stewart (Geelong)"> </option>
            <option value="Zach Tuohy (Geelong)"> </option>
            <option value="Cooper Whyte (Geelong)"> </option>
            <option value="Ben Ainsworth (Gold Coast)"> </option>
            <option value="Noah Anderson (Gold Coast)"> </option>
            <option value="Mac Andrew (Gold Coast)"> </option>
            <option value="Rory Atkins (Gold Coast)"> </option>
            <option value="Charlie Ballard (Gold Coast)"> </option>
            <option value="Tom Berry (Gold Coast)"> </option>
            <option value="Connor Budarick (Gold Coast)"> </option>
            <option value="Chris Burgess (Gold Coast)"> </option>
            <option value="Levi Casboult (Gold Coast)"> </option>
            <option value="Mabior Chol (Gold Coast)"> </option>
            <option value="Sam Collins (Gold Coast)"> </option>
            <option value="Charlie Constable (Gold Coast)"> </option>
            <option value="Alex Davies (Gold Coast)"> </option>
            <option value="Sam Day (Gold Coast)"> </option>
            <option value="Brandon Ellis (Gold Coast)"> </option>
            <option value="Jy Farrar (Gold Coast)"> </option>
            <option value="Brayden Fiorini (Gold Coast)"> </option>
            <option value="Sam Flanders (Gold Coast)"> </option>
            <option value="Elijah Hollands (Gold Coast)"> </option>
            <option value="Nick Holman (Gold Coast)"> </option>
            <option value="Bailey Humphrey (Gold Coast)"> </option>
            <option value="Joel Jeffrey (Gold Coast)"> </option>
            <option value="Lloyd Johnston (Gold Coast)"> </option>
            <option value="Ben King (Gold Coast)"> </option>
            <option value="Sean Lemmens (Gold Coast)"> </option>
            <option value="Ben Long (Gold Coast)"> </option>
            <option value="Jack Lukosius (Gold Coast)"> </option>
            <option value="Darcy Macpherson (Gold Coast)"> </option>
            <option value="Touk Miller (Gold Coast)"> </option>
            <option value="Ned Moyle (Gold Coast)"> </option>
            <option value="Hewago Oea (Gold Coast)"> </option>
            <option value="Wil Powell (Gold Coast)"> </option>
            <option value="Malcolm Rosas (Gold Coast)"> </option>
            <option value="Matt Rowell (Gold Coast)"> </option>
            <option value="Alex Sexton (Gold Coast)"> </option>
            <option value="David Swallow (Gold Coast)"> </option>
            <option value="James Tsitas (Gold Coast)"> </option>
            <option value="Bodhi Uwland (Gold Coast)"> </option>
            <option value="Lachie Weller (Gold Coast)"> </option>
            <option value="Jarrod Witts (Gold Coast)"> </option>
            <option value="Ryan Angwin (Greater Western Sydney)"> </option>
            <option value="Lachie Ash (Greater Western Sydney)"> </option>
            <option value="Toby Bedford (Greater Western Sydney)"> </option>
            <option value="Kieren Briggs (Greater Western Sydney)"> </option>
            <option value="Callum Brown (Greater Western Sydney)"> </option>
            <option value="Jack Buckley (Greater Western Sydney)"> </option>
            <option value="Aaron Cadman (Greater Western Sydney)"> </option>
            <option value="Finn Callaghan (Greater Western Sydney)"> </option>
            <option value="Stephen Coniglio (Greater Western Sydney)"> </option>
            <option value="Isaac Cumming (Greater Western Sydney)"> </option>
            <option value="Brent Daniels (Greater Western Sydney)"> </option>
            <option value="Josh Fahey (Greater Western Sydney)"> </option>
            <option value="Cameron Fleeton (Greater Western Sydney)"> </option>
            <option value="Matt Flynn (Greater Western Sydney)"> </option>
            <option value="Tom Green (Greater Western Sydney)"> </option>
            <option value="Toby Greene (Greater Western Sydney)"> </option>
            <option value="Cooper Hamilton (Greater Western Sydney)"> </option>
            <option value="Nick Haynes (Greater Western Sydney)"> </option>
            <option value="Harry Himmelberg (Greater Western Sydney)"> </option>
            <option value="Jesse Hogan (Greater Western Sydney)"> </option>
            <option value="Connor Idun (Greater Western Sydney)"> </option>
            <option value="Lachlan Keeffe (Greater Western Sydney)"> </option>
            <option value="Josh Kelly (Greater Western Sydney)"> </option>
            <option value="Adam Kennedy (Greater Western Sydney)"> </option>
            <option value="Daniel Lloyd (Greater Western Sydney)"> </option>
            <option value="Toby McMullin (Greater Western Sydney)"> </option>
            <option value="Xavier OHalloran (Greater Western Sydney)"> </option>
            <option value="James Peatling (Greater Western Sydney)"> </option>
            <option value="Harry Perryman (Greater Western Sydney)"> </option>
            <option value="Jake Riccardi (Greater Western Sydney)"> </option>
            <option value="Harry Rowston (Greater Western Sydney)"> </option>
            <option value="Conor Stone (Greater Western Sydney)"> </option>
            <option value="Sam Taylor (Greater Western Sydney)"> </option>
            <option value="Callan Ward (Greater Western Sydney)"> </option>
            <option value="Jacob Wehr (Greater Western Sydney)"> </option>
            <option value="Lachie Whitfield (Greater Western Sydney)"> </option>
            <option value="Karl Amon (Hawthorn)"> </option>
            <option value="James Blanck (Hawthorn)"> </option>
            <option value="Lachlan Bramble (Hawthorn)"> </option>
            <option value="Luke Breust (Hawthorn)"> </option>
            <option value="Tyler Brockman (Hawthorn)"> </option>
            <option value="Will Day (Hawthorn)"> </option>
            <option value="Sam Frost (Hawthorn)"> </option>
            <option value="Denver Grainger-Barras (Hawthorn)"> </option>
            <option value="Fergus Greene (Hawthorn)"> </option>
            <option value="Blake Hardwick (Hawthorn)"> </option>
            <option value="Henry Hustwaite (Hawthorn)"> </option>
            <option value="Jarman Impey (Hawthorn)"> </option>
            <option value="Changkuoth Jiath (Hawthorn)"> </option>
            <option value="Jacob Koschitzke (Hawthorn)"> </option>
            <option value="Mitch Lewis (Hawthorn)"> </option>
            <option value="Ned Long (Hawthorn)"> </option>
            <option value="Max Lynch (Hawthorn)"> </option>
            <option value="Bailey Macdonald (Hawthorn)"> </option>
            <option value="Connor Macdonald (Hawthorn)"> </option>
            <option value="Cam Mackenzie (Hawthorn)"> </option>
            <option value="Finn Maginness (Hawthorn)"> </option>
            <option value="Lloyd Meek (Hawthorn)"> </option>
            <option value="Seamus Mitchell (Hawthorn)"> </option>
            <option value="Dylan Moore (Hawthorn)"> </option>
            <option value="Harry Morrison (Hawthorn)"> </option>
            <option value="Conor Nash (Hawthorn)"> </option>
            <option value="Jai Newcombe (Hawthorn)"> </option>
            <option value="Max Ramsden (Hawthorn)"> </option>
            <option value="Ned Reeves (Hawthorn)"> </option>
            <option value="Brandon Ryan (Hawthorn)"> </option>
            <option value="Jack Scrimshaw (Hawthorn)"> </option>
            <option value="Jai Serong (Hawthorn)"> </option>
            <option value="James Sicily (Hawthorn)"> </option>
            <option value="Josh Ward (Hawthorn)"> </option>
            <option value="Josh Weddle (Hawthorn)"> </option>
            <option value="Chad Wingard (Hawthorn)"> </option>
            <option value="James Worpel (Hawthorn)"> </option>
            <option value="Jake Bowey (Melbourne)"> </option>
            <option value="Angus Brayshaw (Melbourne)"> </option>
            <option value="Ben Brown (Melbourne)"> </option>
            <option value="Kade Chandler (Melbourne)"> </option>
            <option value="Bayley Fritsch (Melbourne)"> </option>
            <option value="Max Gawn (Melbourne)"> </option>
            <option value="Brodie Grundy (Melbourne)"> </option>
            <option value="James Harmes (Melbourne)"> </option>
            <option value="Michael Hibberd (Melbourne)"> </option>
            <option value="Lachie Hunter (Melbourne)"> </option>
            <option value="James Jordon (Melbourne)"> </option>
            <option value="Ed Langdon (Melbourne)"> </option>
            <option value="Bailey Laurie (Melbourne)"> </option>
            <option value="Jake Lever (Melbourne)"> </option>
            <option value="Steven May (Melbourne)"> </option>
            <option value="Tom McDonald (Melbourne)"> </option>
            <option value="Judd McVee (Melbourne)"> </option>
            <option value="Jake Melksham (Melbourne)"> </option>
            <option value="Alex Neal-Bullen (Melbourne)"> </option>
            <option value="Clayton Oliver (Melbourne)"> </option>
            <option value="Christian Petracca (Melbourne)"> </option>
            <option value="Harry Petty (Melbourne)"> </option>
            <option value="Kysaiah Pickett (Melbourne)"> </option>
            <option value="Trent Rivers (Melbourne)"> </option>
            <option value="Christian Salem (Melbourne)"> </option>
            <option value="Josh Schache (Melbourne)"> </option>
            <option value="Charlie Spargo (Melbourne)"> </option>
            <option value="Tom Sparrow (Melbourne)"> </option>
            <option value="Adam Tomlinson (Melbourne)"> </option>
            <option value="Daniel Turner (Melbourne)"> </option>
            <option value="Jacob van Rooyen (Melbourne)"> </option>
            <option value="Jack Viney (Melbourne)"> </option>
            <option value="Taj Woewodin (Melbourne)"> </option>
            <option value="Jackson Archer (North Melbourne)"> </option>
            <option value="Miller Bergman (North Melbourne)"> </option>
            <option value="Aiden Bonar (North Melbourne)"> </option>
            <option value="Callum Coleman-Jones (North Melbourne)"> </option>
            <option value="Charlie Comben (North Melbourne)"> </option>
            <option value="Aidan Corr (North Melbourne)"> </option>
            <option value="Ben Cunnington (North Melbourne)"> </option>
            <option value="Paul Curtis (North Melbourne)"> </option>
            <option value="Luke Davies-Uniacke (North Melbourne)"> </option>
            <option value="Kallan Dawson (North Melbourne)"> </option>
            <option value="Blake Drury (North Melbourne)"> </option>
            <option value="Eddie Ford (North Melbourne)"> </option>
            <option value="Josh Goater (North Melbourne)"> </option>
            <option value="Todd Goldstein (North Melbourne)"> </option>
            <option value="Hugh Greenwood (North Melbourne)"> </option>
            <option value="Aaron Hall (North Melbourne)"> </option>
            <option value="Robert Hansen (North Melbourne)"> </option>
            <option value="Cooper Harvey (North Melbourne)"> </option>
            <option value="Daniel Howe (North Melbourne)"> </option>
            <option value="Nick Larkey (North Melbourne)"> </option>
            <option value="Charlie Lazzaro (North Melbourne)"> </option>
            <option value="Griffin Logue (North Melbourne)"> </option>
            <option value="Jack Mahony (North Melbourne)"> </option>
            <option value="Luke McDonald (North Melbourne)"> </option>
            <option value="Ben McKay (North Melbourne)"> </option>
            <option value="Flynn Perez (North Melbourne)"> </option>
            <option value="Will Phillips (North Melbourne)"> </option>
            <option value="Tom Powell (North Melbourne)"> </option>
            <option value="Bailey Scott (North Melbourne)"> </option>
            <option value="Harry Sheezel (North Melbourne)"> </option>
            <option value="Liam Shiels (North Melbourne)"> </option>
            <option value="Jy Simpkin (North Melbourne)"> </option>
            <option value="Phoenix Spicer (North Melbourne)"> </option>
            <option value="Jaidyn Stephenson (North Melbourne)"> </option>
            <option value="Curtis Taylor (North Melbourne)"> </option>
            <option value="Tarryn Thomas (North Melbourne)"> </option>
            <option value="Darcy Tucker (North Melbourne)"> </option>
            <option value="Kayne Turner (North Melbourne)"> </option>
            <option value="George Wardlaw (North Melbourne)"> </option>
            <option value="Tristan Xerri (North Melbourne)"> </option>
            <option value="Lachie Young (North Melbourne)"> </option>
            <option value="Jack Ziebell (North Melbourne)"> </option>
            <option value="Cameron Zurhaar (North Melbourne)"> </option>
            <option value="Aliir Aliir (Port Adelaide)"> </option>
            <option value="Miles Bergman (Port Adelaide)"> </option>
            <option value="Travis Boak (Port Adelaide)"> </option>
            <option value="Riley Bonner (Port Adelaide)"> </option>
            <option value="Jase Burgoyne (Port Adelaide)"> </option>
            <option value="Ryan Burton (Port Adelaide)"> </option>
            <option value="Zak Butters (Port Adelaide)"> </option>
            <option value="Darcy Byrne-Jones (Port Adelaide)"> </option>
            <option value="Tom Clurey (Port Adelaide)"> </option>
            <option value="Charlie Dixon (Port Adelaide)"> </option>
            <option value="Willem Drew (Port Adelaide)"> </option>
            <option value="Xavier Duursma (Port Adelaide)"> </option>
            <option value="Francis Evans (Port Adelaide)"> </option>
            <option value="Orazio Fantasia (Port Adelaide)"> </option>
            <option value="Kane Farrell (Port Adelaide)"> </option>
            <option value="Jeremy Finlayson (Port Adelaide)"> </option>
            <option value="Mitch Georgiades (Port Adelaide)"> </option>
            <option value="Sam Hayes (Port Adelaide)"> </option>
            <option value="Jason Horne-Francis (Port Adelaide)"> </option>
            <option value="Dan Houston (Port Adelaide)"> </option>
            <option value="Tom Jonas (Port Adelaide)"> </option>
            <option value="Lachie Jones (Port Adelaide)"> </option>
            <option value="Ollie Lord (Port Adelaide)"> </option>
            <option value="Scott Lycett (Port Adelaide)"> </option>
            <option value="Todd Marshall (Port Adelaide)"> </option>
            <option value="Jed McEntee (Port Adelaide)"> </option>
            <option value="Trent McKenzie (Port Adelaide)"> </option>
            <option value="Jackson Mead (Port Adelaide)"> </option>
            <option value="Quinton Narkle (Port Adelaide)"> </option>
            <option value="Sam Powell-Pepper (Port Adelaide)"> </option>
            <option value="Willie Rioli (Port Adelaide)"> </option>
            <option value="Connor Rozee (Port Adelaide)"> </option>
            <option value="Josh Sinn (Port Adelaide)"> </option>
            <option value="Brynn Teakle (Port Adelaide)"> </option>
            <option value="Dante Visentini (Port Adelaide)"> </option>
            <option value="Dylan Williams (Port Adelaide)"> </option>
            <option value="Ollie Wines (Port Adelaide)"> </option>
            <option value="Liam Baker (Richmond)"> </option>
            <option value="Noah Balta (Richmond)"> </option>
            <option value="Sam Banks (Richmond)"> </option>
            <option value="Jacob Bauer (Richmond)"> </option>
            <option value="Shai Bolton (Richmond)"> </option>
            <option value="Nathan Broad (Richmond)"> </option>
            <option value="Tom Brown (Richmond)"> </option>
            <option value="Judson Clarke (Richmond)"> </option>
            <option value="Trent Cotchin (Richmond)"> </option>
            <option value="Matthew Coulthard (Richmond)"> </option>
            <option value="Noah Cumberland (Richmond)"> </option>
            <option value="Thomson Dow (Richmond)"> </option>
            <option value="Jack Graham (Richmond)"> </option>
            <option value="Dylan Grimes (Richmond)"> </option>
            <option value="Jacob Hopper (Richmond)"> </option>
            <option value="Tom Lynch (Richmond)"> </option>
            <option value="Rhyan Mansell (Richmond)"> </option>
            <option value="Dustin Martin (Richmond)"> </option>
            <option value="Kamdyn McIntosh (Richmond)"> </option>
            <option value="Ben Miller (Richmond)"> </option>
            <option value="Toby Nankervis (Richmond)"> </option>
            <option value="Marlion Pickett (Richmond)"> </option>
            <option value="Dion Prestia (Richmond)"> </option>
            <option value="Hugo Ralphsmith (Richmond)"> </option>
            <option value="Jack Riewoldt (Richmond)"> </option>
            <option value="Daniel Rioli (Richmond)"> </option>
            <option value="Maurice Rioli (Richmond)"> </option>
            <option value="Jack Ross (Richmond)"> </option>
            <option value="Samson Ryan (Richmond)"> </option>
            <option value="Jayden Short (Richmond)"> </option>
            <option value="Ivan Soldo (Richmond)"> </option>
            <option value="Tyler Sonsie (Richmond)"> </option>
            <option value="Tim Taranto (Richmond)"> </option>
            <option value="James Trezise (Richmond)"> </option>
            <option value="Nick Vlastuin (Richmond)"> </option>
            <option value="Tylar Young (Richmond)"> </option>
            <option value="Josh Battle (St Kilda)"> </option>
            <option value="Jack Billings (St Kilda)"> </option>
            <option value="Dan Butler (St Kilda)"> </option>
            <option value="Ryan Byrnes (St Kilda)"> </option>
            <option value="Jack Bytel (St Kilda)"> </option>
            <option value="Anthony Caminiti (St Kilda)"> </option>
            <option value="Hunter Clark (St Kilda)"> </option>
            <option value="Zaine Cordy (St Kilda)"> </option>
            <option value="Brad Crouch (St Kilda)"> </option>
            <option value="Jade Gresham (St Kilda)"> </option>
            <option value="Jack Hayes (St Kilda)"> </option>
            <option value="Jack Higgins (St Kilda)"> </option>
            <option value="Bradley Hill (St Kilda)"> </option>
            <option value="Dougal Howard (St Kilda)"> </option>
            <option value="Zak Jones (St Kilda)"> </option>
            <option value="Max King (St Kilda)"> </option>
            <option value="Rowan Marshall (St Kilda)"> </option>
            <option value="Tim Membrey (St Kilda)"> </option>
            <option value="Mitch Owens (St Kilda)"> </option>
            <option value="Ben Paton (St Kilda)"> </option>
            <option value="Jack Peris (St Kilda)"> </option>
            <option value="Mattaes Phillipou (St Kilda)"> </option>
            <option value="Sebastian Ross (St Kilda)"> </option>
            <option value="Cooper Sharman (St Kilda)"> </option>
            <option value="Jack Sinclair (St Kilda)"> </option>
            <option value="Jack Steele (St Kilda)"> </option>
            <option value="Liam Stocker (St Kilda)"> </option>
            <option value="Nasiah Wanganeen-Milera (St Kilda)"> </option>
            <option value="Jimmy Webster (St Kilda)"> </option>
            <option value="Callum Wilkie (St Kilda)"> </option>
            <option value="Marcus Windhager (St Kilda)"> </option>
            <option value="Mason Wood (St Kilda)"> </option>
            <option value="Joel Amartey (Sydney)"> </option>
            <option value="Nick Blakey (Sydney)"> </option>
            <option value="Jack Buller (Sydney)"> </option>
            <option value="Braeden Campbell (Sydney)"> </option>
            <option value="Ryan Clarke (Sydney)"> </option>
            <option value="Harry Cunningham (Sydney)"> </option>
            <option value="Oliver Florent (Sydney)"> </option>
            <option value="Robbie Fox (Sydney)"> </option>
            <option value="Aaron Francis (Sydney)"> </option>
            <option value="Will Gould (Sydney)"> </option>
            <option value="Errol Gulden (Sydney)"> </option>
            <option value="Will Hayward (Sydney)"> </option>
            <option value="Isaac Heeney (Sydney)"> </option>
            <option value="Tom Hickey (Sydney)"> </option>
            <option value="Peter Ladhams (Sydney)"> </option>
            <option value="Jake Lloyd (Sydney)"> </option>
            <option value="Lachlan McAndrew (Sydney)"> </option>
            <option value="Paddy McCartin (Sydney)"> </option>
            <option value="Tom McCartin (Sydney)"> </option>
            <option value="Logan McDonald (Sydney)"> </option>
            <option value="Justin McInerney (Sydney)"> </option>
            <option value="Hayden McLean (Sydney)"> </option>
            <option value="Lewis Melican (Sydney)"> </option>
            <option value="Callum Mills (Sydney)"> </option>
            <option value="Tom Papley (Sydney)"> </option>
            <option value="Luke Parker (Sydney)"> </option>
            <option value="Dane Rampe (Sydney)"> </option>
            <option value="Matt Roberts (Sydney)"> </option>
            <option value="James Rowbottom (Sydney)"> </option>
            <option value="Marc Sheather (Sydney)"> </option>
            <option value="Angus Sheldrick (Sydney)"> </option>
            <option value="Dylan Stephens (Sydney)"> </option>
            <option value="Chad Warner (Sydney)"> </option>
            <option value="Corey Warner (Sydney)"> </option>
            <option value="Sam Wicks (Sydney)"> </option>
            <option value="Oscar Allen (West Coast)"> </option>
            <option value="Harry Barnett (West Coast)"> </option>
            <option value="Tom Barrass (West Coast)"> </option>
            <option value="Rhett Bazzo (West Coast)"> </option>
            <option value="Campbell Chesser (West Coast)"> </option>
            <option value="Greg Clark (West Coast)"> </option>
            <option value="Tom Cole (West Coast)"> </option>
            <option value="Jamie Cripps (West Coast)"> </option>
            <option value="Jai Culley (West Coast)"> </option>
            <option value="Jack Darling (West Coast)"> </option>
            <option value="Liam Duggan (West Coast)"> </option>
            <option value="Harry Edwards (West Coast)"> </option>
            <option value="Luke Edwards (West Coast)"> </option>
            <option value="Luke Foley (West Coast)"> </option>
            <option value="Andrew Gaff (West Coast)"> </option>
            <option value="Reuben Ginbey (West Coast)"> </option>
            <option value="Elijah Hewett (West Coast)"> </option>
            <option value="Brady Hough (West Coast)"> </option>
            <option value="Jayden Hunt (West Coast)"> </option>
            <option value="Shannon Hurn (West Coast)"> </option>
            <option value="Callum Jamieson (West Coast)"> </option>
            <option value="Jamaine Jones (West Coast)"> </option>
            <option value="Tim Kelly (West Coast)"> </option>
            <option value="Noah Long (West Coast)"> </option>
            <option value="Ryan Maric (West Coast)"> </option>
            <option value="Jeremy McGovern (West Coast)"> </option>
            <option value="Xavier ONeill (West Coast)"> </option>
            <option value="Sam Petrevski-Seton (West Coast)"> </option>
            <option value="Jack Petruccelle (West Coast)"> </option>
            <option value="Josh Rotham (West Coast)"> </option>
            <option value="Liam Ryan (West Coast)"> </option>
            <option value="Dom Sheed (West Coast)"> </option>
            <option value="Luke Shuey (West Coast)"> </option>
            <option value="Zane Trew (West Coast)"> </option>
            <option value="Jake Waterman (West Coast)"> </option>
            <option value="Connor West (West Coast)"> </option>
            <option value="Bailey Williams (West Coast)"> </option>
            <option value="Jack Williams (West Coast)"> </option>
            <option value="Alex Witherden (West Coast)"> </option>
            <option value="Elliot Yeo (West Coast)"> </option>
            <option value="Oskar Baker (Western)"> </option>
            <option value="Marcus Bontempelli (Western)"> </option>
            <option value="Josh Bruce (Western)"> </option>
            <option value="Luke Cleary (Western)"> </option>
            <option value="Hayden Crozier (Western)"> </option>
            <option value="Bailey Dale (Western)"> </option>
            <option value="Caleb Daniel (Western)"> </option>
            <option value="Sam Darcy (Western)"> </option>
            <option value="Taylor Duryea (Western)"> </option>
            <option value="Tim English (Western)"> </option>
            <option value="Riley Garcia (Western)"> </option>
            <option value="Ryan Gardner (Western)"> </option>
            <option value="Mitch Hannan (Western)"> </option>
            <option value="Jason Johannisen (Western)"> </option>
            <option value="Arthur Jones (Western)"> </option>
            <option value="Liam Jones (Western)"> </option>
            <option value="Alex Keath (Western)"> </option>
            <option value="Buku Khamis (Western)"> </option>
            <option value="Tom Liberatore (Western)"> </option>
            <option value="Rory Lobb (Western)"> </option>
            <option value="Jack Macrae (Western)"> </option>
            <option value="Robbie McComb (Western)"> </option>
            <option value="Toby McLean (Western)"> </option>
            <option value="Lachlan McNeil (Western)"> </option>
            <option value="Aaron Naughton (Western)"> </option>
            <option value="Tim OBrien (Western)"> </option>
            <option value="James ODonnell (Western)"> </option>
            <option value="Caleb Poulter (Western)"> </option>
            <option value="Ed Richards (Western)"> </option>
            <option value="Anthony Scott (Western)"> </option>
            <option value="Bailey Smith (Western)"> </option>
            <option value="Adam Treloar (Western)"> </option>
            <option value="Jamarra Ugle-Hagan (Western)"> </option>
            <option value="Laitham Vandermeer (Western)"> </option>
            <option value="Cody Weightman (Western)"> </option>
            <option value="Rhylee West (Western)"> </option>
            <option value="Bailey Williams (Western)"> </option>
        </datalist>
